@using Aref.Application.Extensions
@model Aref.Domain.ViewModels.ContactMe.Admin.AdminContactMeDetailsViewModel


@{
  ViewData["Title"] = "Contact Me";
}

@section Breadcrumb

{
  <admin-breadcrumb page-title="@ViewData["Title"]">
    <admin-breadcrumb-item asp-area="Admin" asp-controller="ContactMe" asp-action="List">List
    </admin-breadcrumb-item>
    <admin-breadcrumb-item last-active-item="true">Details</admin-breadcrumb-item>
  </admin-breadcrumb>
}

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body row">
        <div class="mb-3">

          <div class="row align-items-center mt-3">

            <div class="col-md-12">
              <div class="form-group row">
                <label class="form-label col-md-4" asp-for="FullName"></label>
                <div class="col-md-8">
                  <p class="form-control-static">@Model.FullName</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="form-label col-md-4" asp-for="Mobile"></label>
                <div class="col-md-8">
                  <p class="form-control-static">@Model.Mobile</p>
                </div>
              </div>
            </div>
            @if (Model.Email is not null)
            {
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="form-label col-md-4" asp-for="Email"></label>
                  <div class="col-md-8">
                    <p class="form-control-static">@Model.Email</p>
                  </div>
                </div>
              </div>
            }
            <div class="col-md-12">
              <div class="form-group row">
                <label class="form-label col-md-4" asp-for="CreatedDate"></label>
                <div class="col-md-8">
                  <p class="form-control-static">@Model.CreatedDate.ToShamsiDateTime()</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <div class="form-group mt-3">
          @if (Model.Subject is not null)
          {
            <label class="form-label col-md-12 mb-3">@Model.Subject</label>
          }
          else
          {
            <label class="form-label col-md-12 mb-3" asp-for="Message"></label>
          }
          <hr class="m-0 border"/>
          <div class="col-md-12 mt-3 mb-3">
            <p class="form-control-static">
              @Model.Message
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end gap-2">
          <a asp-area="Admin"
             asp-controller="ContactMe"
             asp-action="List"
             class="btn btn-outline-primary">Back To List</a>
        </div>
      </div>
    </div>
  </div>
</div>
